<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Дополнительная/повторная выгрузка заказов</h2></div>
                <div class="panel-body">
                    <ul class="answer">
                      <li>cогласовать с оператором дистрибьютора дополнительную загрузку заказов в 1С;</li>
                      <li>обратиться к специалисту поддержки продаж в БСЦ, который ответственный за территорию;</li>
                      <li>указать название и город дистрибьютора, на которого дополнительно  необходимо выгрузить заказы;</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Specialist</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>