<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Узнать логин и пароль для приложения М1ММ «Утренний митинг»</h2></div>
                <div class="panel-body">
                    <p>Данную информацию торговому представителю предоставляет супервайзер территории.</p>
                    <p>При необходимости изменить логин или пароль, необходимо обратиться к оператору на площадке,
                    для дальнейшего заведения запроса на команду экспертов.</p>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Experts</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>