<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>На вкладке «Утреннее планирование» в М1ММ, при выборе даты ошибка
                    «Нет данных на выбранную дату»</h2></div>
                <div class="panel-body">
                    <p>В таком случае необходимо в приложение выбрать отличную от выбранной дату, чтобы в приложение
                        М1ММ ещё раз пришла информация по датам и нажать <b>«Загрузить данные по УМ».</b></p>
                    <p>Также данная ошибка возможно, если супервайзер корректировал маршрут
                        после 17:00 по Уралу и Сибири, и после 20:00 по остальным регионам.</p>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Experts</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
