<div class="container">
    <div class="row">
        <div class="col-sm-7 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>В приложении М2А произошла ошибка или приложение не отвечает</h2></div>
                <div class="panel-body">
                    <p>Если приложение зависло и не отвечает, необходимо выйти из приложения,
                        перезагрузить планшет и зайти в приложение повторно.</p>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Experts</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>