<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Некорректные объемы в кубах: тех.проблема</h2></div>
                <div class="panel-body">
                    <table>
			<tr>
			   <th>Проблема</th>
                           <th>Решение</th>
			</tr>
			<tr>
		           <td>Тех.проблемы на стороне дистрибьютора</td>
                           <td>обратится к команде DI: <a href="mailto:RU_DI_Support@ab-inbev.com">RU_DI_Support</a></td>
			</tr>
                        <tr>
		           <td>Проблемы с пересчетом кубов</td>
                           <td>уточнить у TSS, был ли произведен пересчет кубов</td>
			</tr>
		    </table>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Specialists</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>