<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Некорректные объемы в кубах: проблема с продуктом</h2></div>
                <div class="panel-body">
                    <table>
			<tr>
			   <th>Проблема</th>
                           <th>Решение</th>
			</tr>
			<tr>
		           <td>Продукт не сопоставлен/некорректно сопоставлен на стороне дистрибьютора</td>
                           <td>
                              <ul class="answer">
                                 <li>уточняете у дистрибьютора, все ли продукты у него сопоставлены с кодом SWE;</li> 
                                 <li>уточняете, все ли промо-позиции были высланы на них для заведения и сопоставления в 1С;</li> 
                                 <li>если у дистрибьютора все корректно - сообщаете IS специалистам, на какую ТТ были продажи, специалисты проверяют и возвращаются с обратной связью</li>
			      </ul>
			  </td>
			</tr>
		    </table>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Specialists</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>