<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Не отображается продукт в планшете</h2></div>
                <div class="panel-body">
                    <p>Если отсутствует необходимый продукт в планшете, то нужно:</p>
                    <ul class="answer">
                        <li>обязательно провести синхронизацию;</li>
                        <li>проверить, правильно ли выбрана формы оплаты;</li>
                        <li>если данный продукт промо, проверить, активна ли акция;</li>
                        <li>если все верно, но продукт  не отображается, просьба писать по промо продуктам -
                            TM  специалистам, по обычным продуктам – IS специалистам Вашего региона;</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>TM Specialist, IS Specialist</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>