<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Сломался планшет (набить заказ)</h2></div>
                <div class="panel-body">
                  <ul class="answer">
                    <li>обратиться к ТСС за новым планшетом. Если нет свободного планшета, то обратиться к оператору на площадке, 
либо ТСС для заведений заказов;</li>
                    <li>получить согласование у координатора и ДСМа для прямого заведения заказа в систему SW, 
через специалиста поддержки продаж в БСЦ, который ответственный за территорию;</li>
                    <li>для корректности заведения заказа указать внешний код торговой точки для заказа, сектор торгового представителя, дату доставки, 
код продукта (если промо продукт, то обязательно!), необходимое количество продукции в шт;</li>
                  </ul>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Specialist</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
