<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Проблемы с заведением заказа</h2></div>
                <div class="panel-body">
                    <ul class="answer">
                      <li>продукт отсутствует в планшете (обратиться к ответственному специалисту в БСЦ для заведения продукта в приоритетный список);</li>
                      <li>шаблон точки без заказа (обратиться к ответственному специалисту на площадке);</li>
                      <li>точка не активна(обратиться к ответственному специалисту на площадке);</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Experts</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>