<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Цена на продукт</h2></div>
                <div class="panel-body">
                    <p>Если цена на продукт не стоит\не корректна:</p>
                    <ul class="answer">
                        <li>Ваш склад есть в данном списке (тут будет ссылка на файл), то просьба писать о проблеме дистрибьютору;</li>
                        <li>если Вашего склада в списке нет, нужно узнать у дистрибьютора корректную цену
                            и сообщить ее Expert-специалисту для загрузки в систему;</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Experts, IS Specialist</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>