.panel {
    border: 2px solid #FF6347; 
}

.panel .panel-heading {
    background-color: #FF6347 !important;
    color: black;
    font-weight: bold;
}

.navbarTop {
    margin-top: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu a, .navbar-brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0px 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: white;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

li a:hover {
    color: lightskyblue;
}

.panel-footer {
    background-color: khaki;
}

.panel-footer>h3 {
    font-weight: bold;
}

.thumb img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0);
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}
.thumb img:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
}
.thumb {
    padding:5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

table, th, td {
    border: 2px solid black;
}

th {
    background-color: #FF6347;
}

.tableLeft {
    background-color: #E9967A;
}

.tableRight {
    background-color: #FFD700;
}

/*tr:nth-child(even) {
    background-color: #00FF7F;
}*/

.answerPlum, .answer {
    list-style-type: circle;
    background: #FF8C00;
    padding: 20px;
}

.answer li, .answerPlum li {
    background: #FFDEAD;
    margin: 5px;
}

.formula {
    border: 2px solid
    background-color: #CD5C5C; 
    color: white;
    font-weight: bold;
    animation-name: changeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.non-visible {
    display: none;
}

.showImage, .linkStyle, .showList, .showList1 {
    color: #00BFFF;
}

.linkStyle:hover {
    color: green;
    cursor: pointer;
    text-decoration: none;
}


.showImage:hover, .showList:hover, .showList1:hover {
    color: green;
    cursor: pointer;
}

.disabledLink {
    pointer-events: none; 
    cursor: default;  
    color: #999; 
}

@media screen and (min-width: 700px) {
    p {
        font-size: 24px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 26px;
    }
    th, td, .answer li, .answerPlum li {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) and (max-width: 699px) {
    p {
        font-size: 20px;
    }
    h2 {
        font-size: 26px;
    }
    h3 {
        font-size: 24px;
    }
    th, td, .answer li, .answerPlum li {
        font-size: 16px;
    }
}

@media screen and (min-width: 500px) and (max-width: 599px) {
    p {
        font-size: 18px;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 20px;
    }
    th, td, .answer li, .answerPlum li {
        font-size: 14px;
    }
}

@media screen and (min-width: 300px) and (max-width: 499px) {
    p {
        font-size: 15px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 16px;
    }
    th, td, .answer li, .answerPlum li {
        font-size: 12px;
    }
}


@media screen and (max-width: 299px) {
    p {
        font-size: 10px;
    }
    h2 {
        font-size: 12px;
    }
    h3 {
        font-size: 11px;
    }
    th, td, .answer li, .answerPlum li {
        font-size: 10px;
    }
}

@media screen and (max-width: 760px) {
    .dropdown-menu>li>a {
        white-space: normal;
    }

    .dropdown-submenu>.dropdown-menu{
        padding-left: 15px;
    }

    .dropdown-submenu>.dropdown-menu {
        left: 0;
    }

    .dropdown-menu {
        background-color: rgba(0,0,0,0);
    }
    
    .dropdown-menu a {
        color: rgb(0,255,0) !important;
    }
    
     .dropdown-menu a:hover {
        color: white !important;
        background-color: red !important;
    }
                             
    /*body {
        background: url("../images/main_bg.jpg") no-repeat center fixed !important;
        background-size: cover !important;
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
    }*/
    
    /*html { 
    background: url("../images/main_bg.jpg") no-repeat center fixed !important; 
    background-size: cover !important;
}*/
      
}

@media screen and (min-width: 761px) {
    .dropdown-menu>li>a {
        color: #9d9d9d !important;
        font-size: 14px !important;
        background-color: black !important;
    }
    
    .dropdown-menu {
        background-color: black !important;
    }
    
    
    .dropdown-menu a:hover {
        color: white !important;
    }
}

@media screen and (min-width: 0px) and (max-width: 199px) {
    body{
        background: url("../images/SS_Gerb_ZCC_214x135.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 200px) and (max-width: 399px) {
    body{
        background: url("../images/SS_Gerb_ZCC (8)_331x209.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 400px) and (max-width: 599px) {
    body{
        background: url("../images/SS_Gerb_ZCC (8)_331x209.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 600px) and (max-width: 799px) {
    body{
        background: url("../images/SS_Gerb_ZCC (7)_384x242.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 800px) and (max-width: 999px) {
    body{
        background: url("../images/SS_Gerb_ZCC (6)_434x274.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    body{
        background: url("../images/SS_Gerb_ZCC (5)_499x315.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    body{
        background: url("../images/SS_Gerb_ZCC (4)_564x356.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
    body{
        background: url("../images/SS_Gerb_ZCC (3)_608x384.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}

@media screen and (min-width: 1600px) and (max-width: 1799px) {
    body{
        background: url("../images/SS_Gerb_ZCC (2)_652x411.png") !important;
        background-position: left 60% !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }

}
