<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Некорректные объемы в кубах: проблема с ТТ</h2></div>
                <div class="panel-body">
                    <table>
			<tr>
			   <th>Проблема</th>
                           <th>Решение</th>
			</tr>
			<tr>
		           <td class="tableLeft">ТТ не сопоставлена/некорректно сопоставлена/рассопоставлена на стороне дистрибьютора</td>
                           <td class="tableRight">
                              <ul class="answer">
                                 <li>узнаете у дистрибьютора, сопоставлена ли у него ТТ с кодом SWE;</li> 
                                 <li>уточняете, с каким из кодов сопоставлена ТТ, если существует 2 ТТ по разным каналам, либо старая и 
новая ТТ(в случае если не срабатывает ХШ);</li> 
                                 <li>если у дистрибьютора все корректно - сообщаете IS специалистам, на какую ТТ были продажи, 
специалисты проверяют и возвращаются с обратной связью;</li>
			      </ul>
			  </td>
			</tr>
		        <tr>
		           <td class="tableLeft">ТТ раcсплитовывается</td>
                           <td class="tableRight">если ТТ является основной точкой сети в кубах объемы по таким ТТ расcплитовываются на точки сети, которые 
подвязаны к основной точке согласно коэффициентам расcплитовки поштучно в рамках каждого заказа до SKU.  Суммарный объем на этих ТТ 
будет равен проданному. Узнать является ли ТТ УТТ можно в общей клиентской базе(ОКБ) либо в SWE, доступ к которым есть у TSS
                          </td>
			</tr>
                        <tr>
		           <td class="tableLeft">ТТ не стоит на маршруте</td>
                           <td class="tableRight">перед визитом в ТТ обязательно необходимо поставить ТТ на маршрут, чтобы продажа пошла в объем. Если ТТ 
не была поставлена на маршрут, обратитесь к TSS для корректировки маршрута</td>
			</tr>
		    </table>
                    <a href="#cubes_3_1" class="btn btn-success btn-md" role="button" id="top">Bверх</a>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Specialists</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {

        var toTop = document.getElementById("top");
        toTop.addEventListener("click", function(){
            window.scrollTo(0,0);
        });



    });
</script>
