<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Не уехал заказ</h2></div>
                <div class="panel-body">
                    <ul class="answer">
                       <li>заказ не попал к нам в систему (просинхрился позже регламента выгрузки заказов партнёру);</li>
                       <li>у партнера не сопоставлена ТТ в системе 1С (новая ТТ и партнер не успел сопоставить с внешним кодом у себя в системе);</li>
                       <li>у партнера некорректно сопоставлена номенклатура;</li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <h3>Ответственный: <span>IS Specialist</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>